@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.logo {
  display: flex;
  justify-content: space-around;
}
.logo img {
  height: 70px;
}

nav {
  margin-top: 10px;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li a {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: #000;
}
nav ul li a.active, nav ul li a:hover {
  border-bottom: 4px solid #0082F9;
}

main {
  text-transform: uppercase;
  color: #fff;
}

.jumbo {
  height: 400px;
}
.jumbo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.series {
  background-color: #1c1c1c;
  padding-top: 10px;
}
.series h2 {
  position: relative;
  bottom: 35px;
  background-color: #0082F9;
  padding: 10px 20px;
  display: inline-block;
}
.series .row {
  justify-content: center;
}
.series .card {
  text-decoration: none;
  width: calc(16.6666666667% - 30px);
  margin: 15px;
  display: flex;
  flex-direction: column;
}
.series .card img {
  width: 100%;
  max-height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.series .card span {
  color: #fff;
  margin-top: 20px;
}
.series .load-more {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  background-color: #0082F9;
  margin: 20px;
  padding: 10px 50px;
}

.shop {
  background-color: #0082F9;
  padding: 50px 0;
}
.shop .row {
  justify-content: space-around;
}
.shop .box {
  min-width: 200px;
}
.shop .box a {
  text-decoration: none;
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.shop .box a img {
  max-height: 50px;
}
.shop .box a span {
  color: #fff;
  white-space: nowrap;
  margin-left: 15px;
}

footer .row {
  justify-content: space-between;
}

.footer-top {
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  background-position: center;
}
.footer-top .left {
  display: flex;
}
.footer-top .left .col {
  padding: 35px 25px 35px 0;
}
.footer-top .left .col h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px 0;
}
.footer-top .left .col ul li a {
  color: #8f8f8f;
  font-size: 14px;
  margin: 3px 0;
  display: inline-block;
}
.footer-top .left .col ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer-top .right {
  width: 50%;
  background-image: url("../img/dc-logo-bg.png");
  background-size: cover;
  background-position: center;
}

.footer-bottom {
  background-color: #303030;
  padding: 30px 0;
}
.footer-bottom .sign-up {
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #0082F9;
  padding: 10px;
}
.footer-bottom .sign-up:hover {
  background-color: #0082F9;
}
.footer-bottom ul {
  display: flex;
  align-items: center;
}
.footer-bottom ul a {
  color: #0082F9;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}